.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  width: 100%;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  /*overflow-x: hidden;*/
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 3px;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-position: center; 
  background-size: cover; 
  /* Keep the image from overlapping sibling elements. */
  z-index: -2;
}

/* The styling for the static div. */
.static {
  background: rgb(255, 255, 255);
  /*height: 0vw;*/
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg-banco::after {
  background-image: url('../images/bg_banco.png');
  background-position: center; 
  background-size: cover; 
}

.bg1::after {
background-image: url('../images/bg_banco.png');
}
.bg2::after {
  background-image: url('../images/fundo-umpi.png');
}
  
/*
.overlay-black::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
}*/

  

